<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="apiframework">

	<!-- <listeners> 
		<listener class-name="com.inetBankingV1.utilities.Reporting"/>  
		</listeners> -->
	
	<test name="apiresponse test">
		<classes>
			<class name="ApiTests.PostApis.Pet" />
		</classes>
		
	</test>
</suite>